

USE master
GO
if exists (select * from sysdatabases where name='Eastwind')
		drop database Eastwind
go

DECLARE @device_directory varchar(520)
SELECT @device_directory = SUBSTRING(physical_name, 1, CHARINDEX(N'master.mdf', LOWER(physical_name)) - 1)
FROM sys.database_files
WHERE (name = N'master')

-- For SQL Server 2000 replace the above statement with the following:
-- SELECT @device_directory = SUBSTRING(phyname, 1, CHARINDEX(N'master.mdf', LOWER(phyname)) - 1)
-- FROM master.dbo.sysdevices
-- WHERE (name = N'master')



EXECUTE (N'CREATE DATABASE Eastwind
  ON PRIMARY (NAME = N''Eastwind'', FILENAME = N''' + @device_directory + N'Eastwind.mdf'')
  LOG ON (NAME = N''Eastwind_log'',  FILENAME = N''' + @device_directory + N'EastWind.ldf'')')
go

set quoted_identifier on
GO
/* Set DATEFORMAT so that the date strings are interpreted correctly regardless of
   the default DATEFORMAT on the server.
*/
SET DATEFORMAT mdy
GO
use Eastwind
go
IF NOT EXISTS (SELECT *
               FROM sysusers
               WHERE name = 'guest'
                 AND hasdbaccess = 1)
   EXEC sp_adduser 'guest'
GO
CREATE TABLE Divisions
(DivisionID 	numeric(5)	not null,
 DivisionName	varchar(40)	not null)
go
ALTER TABLE Divisions ADD Constraint PK_Division
	Primary Key (DivisionID)
go
ALTER TABLE Divisions
        ADD CONSTRAINT UK_DivisionName
        UNIQUE (DivisionName)
go

CREATE TABLE Departments
(DivisionID	numeric(5)	not null,
 DepartmentID	numeric(5)	not null,
 DepartmentName varchar(40)	not null)

ALTER TABLE Departments
	ADD constraint PK_Department
	PRIMARY KEY (DivisionID, DepartmentID)
go
ALTER TABLE Departments
	ADD CONSTRAINT FK_Department_Division
	FOREIGN KEY (DivisionID)
	REFERENCES Divisions(DivisionID)
go
CREATE TABLE Employees (
	EmployeeID int IDENTITY (1, 1) NOT NULL ,
	LastName varchar (20) NOT NULL ,
	FirstName varchar (10) NOT NULL ,
	Title varchar (30) NULL ,
	TitleOfCourtesy varchar (25) NULL ,
        Gender char(1) NULL ,
 	BirthDate datetime NULL ,
	HireDate datetime NULL ,
	Address varchar (60) NULL ,
	City varchar (15) NULL ,
	Region varchar (15) NULL ,
	PostalCode varchar (10) NULL ,
	Country varchar (15) NULL ,
	HomePhone varchar (24) NULL ,
	Extension varchar (4) NULL ,
	ReportsTo int NULL ,
	CurrentSalary	numeric(5) not null,
	Commission	numeric(5) null,
	DivisionID	numeric(5) null,
	DepartmentID	numeric(5) null,
	CONSTRAINT PK_Employees 
        PRIMARY KEY CLUSTERED (EmployeeID),
	CONSTRAINT FK_Employees_Employees 
        FOREIGN KEY (ReportsTo) 
        REFERENCES dbo.Employees(EmployeeID),
	CONSTRAINT CK_Birthdate CHECK (BirthDate < getdate())
)
go
ALTER TABLE Employees
	ADD CONSTRAINT FK_Employee_Department
	FOREIGN KEY (DivisionID, DepartmentID)
	REFERENCES Departments(DivisionID, DepartmentID)
GO
ALTER TABLE Employees
        ADD CONSTRAINT CK_Salary_Commission
        CHECK (Commission <= CurrentSalary)
GO

 CREATE  INDEX LastName ON dbo.Employees(LastName)
GO
 CREATE  INDEX PostalCode ON dbo.Employees(PostalCode)
GO
 CREATE INDEX Salary ON Employees(CurrentSalary)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Employees  TO public
GO

Create table SalaryHistories
(EmployeeID	int	not null,
 StartDate	datetime not null,
 Salary		numeric(5)	not null,
 EndDate	datetime null)
go
ALTER TABLE SalaryHistories
 ADD Constraint PK_SalaryHistory
 PRIMARY KEY (EmployeeID, StartDate)
go
ALTER TABLE SalaryHistories
	ADD CONSTRAINT FK_SalaryHistory_Employee
	FOREIGN KEY (EmployeeID)
	REFERENCES Employees(EmployeeID)
go
CREATE TABLE Categories (
	CategoryID int IDENTITY (1, 1) NOT NULL ,
	CategoryName varchar (15) NOT NULL ,
	Description ntext NULL ,
	CONSTRAINT PK_Categories PRIMARY KEY  CLUSTERED 
	(
		CategoryID
	)
)
GO
 CREATE  INDEX CategoryName ON dbo.Categories(CategoryName)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Categories  TO public
GO
CREATE TABLE Customers (
	CustomerID char (5) NOT NULL ,
	CompanyName varchar (40) NOT NULL ,
	ContactName varchar (30) NULL ,
	ContactTitle varchar (30) NULL ,
	Address varchar (60) NULL ,
	City varchar (15) NOT NULL ,
	Region varchar (15) NULL ,
	PostalCode varchar (10) NULL ,
	Country varchar (15) NOT NULL ,
	Phone varchar (24) NULL ,
	Fax varchar (24) NULL ,
	CONSTRAINT PK_Customers PRIMARY KEY  CLUSTERED 
	(
		CustomerID
	)
)
GO
 CREATE  INDEX City ON dbo.Customers(City)
GO
 -- CREATE  INDEX CompanyName ON dbo.Customers(CompanyName)
GO
 CREATE  INDEX PostalCode ON dbo.Customers(PostalCode)
GO
 CREATE  INDEX Region ON dbo.Customers(Region)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Customers  TO public
GO
CREATE TABLE Shippers (
	ShipperID int IDENTITY (1, 1) NOT NULL ,
	CompanyName varchar (40) NOT NULL ,
	Phone varchar (24) NULL ,
	CONSTRAINT PK_Shippers PRIMARY KEY  CLUSTERED 
	(
		ShipperID
	)
)
GO
CREATE TABLE Suppliers (
	SupplierID int IDENTITY (1, 1) NOT NULL ,
	CompanyName varchar (40) NOT NULL ,
	ContactName varchar (30) NULL ,
	ContactTitle varchar (30) NULL ,
	Address varchar (60) NULL ,
	City varchar (15) NOT NULL ,
	Region varchar (15) NULL ,
	PostalCode varchar (10) NULL ,
	Country varchar (15) NOT NULL ,
	Phone varchar (24) NULL ,
	Fax varchar (24) NULL ,
	HomePage ntext NULL ,
	CONSTRAINT PK_Suppliers PRIMARY KEY  CLUSTERED 
	(
		SupplierID
	)
)
GO
 CREATE  INDEX CompanyName ON dbo.Suppliers(CompanyName)
GO
 CREATE  INDEX PostalCode ON dbo.Suppliers(PostalCode)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Suppliers  TO public
GO
CREATE TABLE Orders (
	OrderID int IDENTITY (1, 1) NOT NULL ,
	CustomerID char (5) NOT NULL ,
	EmployeeID int NULL ,
	OrderDate datetime NULL ,
	RequiredDate datetime NULL ,
	ShippedDate datetime NULL ,
	ShipVia int NULL ,
	Freight Numeric(8,2) NULL CONSTRAINT DF_Orders_Freight DEFAULT (0),
	ShipName varchar (40) NULL ,
	ShipAddress varchar (60) NULL ,
	ShipCity varchar (15) NULL ,
	ShipRegion varchar (15) NULL ,
	ShipPostalCode varchar (10) NULL ,
	ShipCountry varchar (15) NULL ,
	CONSTRAINT PK_Orders PRIMARY KEY  CLUSTERED 
	(
		OrderID
	),
	CONSTRAINT FK_Orders_Customers FOREIGN KEY 
	(
		CustomerID
	) REFERENCES dbo.Customers (
		CustomerID
	),
	CONSTRAINT FK_Orders_Employees FOREIGN KEY 
	(
		EmployeeID
	) REFERENCES dbo.Employees (
		EmployeeID
	),
	CONSTRAINT FK_Orders_Shippers FOREIGN KEY 
	(
		ShipVia
	) REFERENCES dbo.Shippers (
		ShipperID
	)
)
GO
 CREATE  INDEX EmployeeID ON dbo.Orders(EmployeeID)
GO
 CREATE  INDEX OrderDate ON dbo.Orders(OrderDate)
GO
 CREATE  INDEX ShippedDate ON dbo.Orders(ShippedDate)
GO
 CREATE  INDEX ShippersOrders ON dbo.Orders(ShipVia)
GO
 CREATE  INDEX ShipPostalCode ON dbo.Orders(ShipPostalCode)
GO
 create index CustomerID on Orders(CustomerID)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Orders  TO public
GO
CREATE TABLE Products (
	ProductID int IDENTITY (1, 1) NOT NULL ,
	ProductName varchar (40) NOT NULL ,
	SupplierID int NULL ,
	CategoryID int not NULL ,
	QuantityPerUnit varchar (20) NULL ,
	UnitPrice numeric(8,2) NULL CONSTRAINT DF_Products_UnitPrice DEFAULT (0),
	UnitsInStock smallint NULL CONSTRAINT DF_Products_UnitsInStock DEFAULT (0),
	UnitsOnOrder smallint NULL CONSTRAINT DF_Products_UnitsOnOrder DEFAULT (0),
	ReorderLevel smallint NULL CONSTRAINT DF_Products_ReorderLevel DEFAULT (0),
	Discontinued bit NOT NULL CONSTRAINT DF_Products_Discontinued DEFAULT (0),
	CONSTRAINT PK_Products PRIMARY KEY  CLUSTERED 
	(
		ProductID
	),
	CONSTRAINT FK_Products_Categories FOREIGN KEY 
	(
		CategoryID
	) REFERENCES dbo.Categories (
		CategoryID
	),
	CONSTRAINT FK_Products_Suppliers FOREIGN KEY 
	(
		SupplierID
	) REFERENCES dbo.Suppliers (
		SupplierID
	),
	CONSTRAINT CK_Products_UnitPrice CHECK (UnitPrice >= 0),
	CONSTRAINT CK_ReorderLevel CHECK (ReorderLevel >= 0),
	CONSTRAINT CK_UnitsInStock CHECK (UnitsInStock >= 0),
	CONSTRAINT CK_UnitsOnOrder CHECK (UnitsOnOrder >= 0)
)
GO
 CREATE  INDEX CategoryID ON dbo.Products(CategoryID)
GO
 CREATE  INDEX ProductName ON dbo.Products(ProductName)
GO
 CREATE  INDEX SupplierID ON dbo.Products(SupplierID)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON Products  TO public
GO
CREATE TABLE OrderDetails (
	OrderID int NOT NULL ,
	ProductID int NOT NULL ,
	UnitPrice numeric(8,2) NOT NULL CONSTRAINT DF_Order_Details_UnitPrice DEFAULT (0),
	Quantity smallint NOT NULL CONSTRAINT DF_Order_Details_Quantity DEFAULT (1),
	Discount numeric(3,2) NOT NULL CONSTRAINT DF_Order_Details_Discount DEFAULT (0),
	CONSTRAINT PK_Order_Details PRIMARY KEY  CLUSTERED 
	(
		OrderID,
		ProductID
	),
	CONSTRAINT FK_Order_Details_Orders FOREIGN KEY 
	(
		OrderID
	) REFERENCES dbo.Orders (
		OrderID
	),
	CONSTRAINT FK_Order_Details_Products FOREIGN KEY 
	(
		ProductID
	) REFERENCES dbo.Products (
		ProductID
	),
	CONSTRAINT CK_Discount CHECK (Discount >= 0 and (Discount <= 1)),
	CONSTRAINT CK_Quantity CHECK (Quantity > 0),
	CONSTRAINT CK_UnitPrice CHECK (UnitPrice >= 0)
)
GO
 CREATE  INDEX OrderID ON dbo.OrderDetails(OrderID)
GO
 CREATE  INDEX ProductID ON dbo.OrderDetails(ProductID)
GO
GRANT  REFERENCES ,  SELECT ,  INSERT ,  DELETE ,  UPDATE  ON OrderDetails  TO public
GO
set quoted_identifier on
go
set identity_insert Categories on
go
ALTER TABLE Categories NOCHECK CONSTRAINT ALL
go
INSERT Categories(CategoryID,CategoryName,Description) VALUES(1,'Beverages','Soft drinks, coffees, teas, beers, and ales')
INSERT Categories(CategoryID,CategoryName,Description) VALUES(2,'Condiments','Sweet and savory sauces, relishes, spreads, and seasonings')
INSERT Categories(CategoryID,CategoryName,Description) VALUES(3,'Confections','Desserts, candies, and sweet breads')
go
set identity_insert Categories off
go
ALTER TABLE Categories CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
ALTER TABLE Customers NOCHECK CONSTRAINT ALL
go
INSERT Customers VALUES('ALFKI','Alfreds Futterkiste','Maria Anders','Sales Representative','Obere Str. 57','Berlin',NULL,'12209','Germany','030-0074321','030-0076545')
INSERT Customers VALUES('ANATR','Ana Trujillo Emparedados y helados','Ana Trujillo','Owner','Avda. de la Constitución 2222','México D.F.',NULL,'05021','Mexico','(5) 555-4729','(5) 555-3745')
INSERT Customers VALUES('ANTON','Antonio Moreno Taquería','Antonio Moreno','Owner','Mataderos  2312','México D.F.',NULL,'05023','Mexico','(5) 555-3932',NULL)
go

ALTER TABLE Customers CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
INSERT Divisions(DivisionID,DivisionName)
VALUES(1,'America')
INSERT Divisions(DivisionID,DivisionName)
VALUES(2,'Europe')
INSERT Divisions(DivisionID,DivisionName)
VALUES(3,'Pacific')
go
INSERT Departments(DivisionID,DepartmentID,DepartmentName)
VALUES(1,100,'Accounting')
INSERT Departments(DivisionID,DepartmentID,DepartmentName)
VALUES(1,200,'Sales')
INSERT Departments(DivisionID,DepartmentID,DepartmentName)
VALUES(1,300,'Research')
go
set identity_insert Employees on
go
ALTER TABLE Employees NOCHECK CONSTRAINT ALL
go
INSERT Employees(EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,Gender,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,ReportsTo,CurrentSalary,Commission,DivisionID,DepartmentID)
VALUES(1,'Davolio','Nancy','Sales Representative','Ms.','F','12/08/1948','05/01/1992','507 - 20th Ave. E. Apt. 2A','Seattle','WA','98122','USA','(206) 555-9857','5467',2,2000,NULL,1,100)
go
INSERT Employees(EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,Gender,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,ReportsTo,CurrentSalary,Commission,DivisionID,DepartmentID) 
VALUES(2,'Fuller','Andrew','Vice President, Sales','Dr.','M','02/19/1952','08/14/1992','908 W. Capital Way','Tacoma','WA','98401','USA','(206) 555-9482','3457',NULL,9000,NULL,1,100)
GO
INSERT Employees(EmployeeID,LastName,FirstName,Title,TitleOfCourtesy,Gender,BirthDate,HireDate,Address,City,Region,PostalCode,Country,HomePhone,Extension,ReportsTo,CurrentSalary,Commission,DivisionID,DepartmentID) 
VALUES(3,'Leverling','Janet','Sales Representative','Ms.','F','08/30/1963','04/01/1992','722 Moss Bay Blvd.','Kirkland','WA','98033','USA','(206) 555-3412','3355',2,6000,NULL,1,200)
GO
set identity_insert Employees off
go
ALTER TABLE Employees CHECK CONSTRAINT ALL
go 
INSERT SalaryHistories(EmployeeID,StartDate, Salary,EndDate)
VALUES(1,'05/01/1992',1000,'12/31/1992')
INSERT SalaryHistories(EmployeeID,StartDate, Salary,EndDate)
VALUES(1,'01/01/1993',1200,'12/31/1993')
INSERT SalaryHistories(EmployeeID,StartDate, Salary,EndDate)
VALUES(1,'01/01/1994',1400,'12/31/1994')
go

set quoted_identifier on
go
ALTER TABLE OrderDetails NOCHECK CONSTRAINT ALL
go
INSERT OrderDetails VALUES(10248,11,14,12,0)
INSERT OrderDetails VALUES(10248,42,9.8,10,0)
INSERT OrderDetails VALUES(10248,72,34.8,5,0)
go
ALTER TABLE OrderDetails CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
set identity_insert Orders on
go
ALTER TABLE Orders NOCHECK CONSTRAINT ALL
go
INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10248,N'VINET',5,'7/4/1996','8/1/1996','7/16/1996',3,32.38,
	N'Vins et alcools Chevalier',N'59 rue de l''Abbaye',N'Reims',
	NULL,N'51100',N'France')
INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10249,N'TOMSP',6,'7/5/1996','8/16/1996','7/10/1996',1,11.61,
	N'Toms Spezialitäten',N'Luisenstr. 48',N'Münster',
	NULL,N'44087',N'Germany')
INSERT INTO Orders
(OrderID,CustomerID,EmployeeID,OrderDate,RequiredDate,
	ShippedDate,ShipVia,Freight,ShipName,ShipAddress,
	ShipCity,ShipRegion,ShipPostalCode,ShipCountry)
VALUES (10250,N'HANAR',4,'7/8/1996','8/5/1996','7/12/1996',2,65.83,
	N'Hanari Carnes',N'Rua do Paço, 67',N'Rio de Janeiro',
	N'RJ',N'05454-876',N'Brazil')
go
set identity_insert Orders off
go
ALTER TABLE Orders CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
set identity_insert Products on
go
ALTER TABLE Products NOCHECK CONSTRAINT ALL
go
INSERT Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(1,'Chai',1,1,'10 boxes x 20 bags',18,39,0,10,0)
INSERT Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(2,'Chang',1,1,'24 - 12 oz bottles',19,17,40,25,0)
INSERT Products(ProductID,ProductName,SupplierID,CategoryID,QuantityPerUnit,UnitPrice,UnitsInStock,UnitsOnOrder,ReorderLevel,Discontinued) VALUES(3,'Aniseed Syrup',1,2,'12 - 550 ml bottles',10,13,70,25,0)
go
set identity_insert Products off
go
ALTER TABLE Products CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
set identity_insert Shippers on
go
ALTER TABLE Shippers NOCHECK CONSTRAINT ALL
go
INSERT Shippers(ShipperID,CompanyName,Phone) VALUES(1,'Speedy Express','(503) 555-9831')
INSERT Shippers(ShipperID,CompanyName,Phone) VALUES(2,'United Package','(503) 555-3199')
INSERT Shippers(ShipperID,CompanyName,Phone) VALUES(3,'Federal Shipping','(503) 555-9931')
go
set identity_insert Shippers off
go
ALTER TABLE Shippers CHECK CONSTRAINT ALL
go
set quoted_identifier on
go
set identity_insert Suppliers on
go
ALTER TABLE Suppliers NOCHECK CONSTRAINT ALL
go
INSERT Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(1,'Exotic Liquids','Charlotte Cooper','Purchasing Manager','49 Gilbert St.','London',NULL,'EC1 4SD','UK','(171) 555-2222',NULL,NULL)
INSERT Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(2,'New Orleans Cajun Delights','Shelley Burke','Order Administrator','P.O. Box 78934','New Orleans','LA','70117','USA','(100) 555-4822',NULL,'#CAJUN.HTM#')
INSERT Suppliers(SupplierID,CompanyName,ContactName,ContactTitle,Address,City,Region,PostalCode,Country,Phone,Fax,HomePage) VALUES(3,'Grandma Kelly''s Homestead','Regina Murphy','Sales Representative','707 Oxford Rd.','Ann Arbor','MI','48104','USA','(313) 555-5735','(313) 555-3349',NULL)
go

set identity_insert Suppliers off
go
ALTER TABLE Suppliers CHECK CONSTRAINT ALL
go

-- EmpStatistics view
CREATE VIEW EmpStatistics AS
SELECT DivisionID
      ,DepartmentID
      ,COUNT(*) AS Employees
      ,SUM(CurrentSalary) AS SumSal
FROM   Employees
GROUP BY DivisionID, DepartmentID
GO

select count(*) AS OrderDetails    from  OrderDetails;
select count(*) AS Orders          from  Orders;
select count(*) AS SalaryHistories from  SalaryHistories;
select count(*) AS Employees       from  Employees; 
select count(*) AS Departments     from  Departments;
select count(*) AS Divisions       from  Divisions;
select count(*) AS Customers       from  Customers;
select count(*) AS Shippers        from  Shippers;
select count(*) AS Products        from  Products;
select count(*) AS Suppliers       from  Suppliers;
select count(*) AS Categories      from  Categories;
select count(*) AS EmpStatistics   from  EmpStatistics;
GO

-- Create a new login
EXEC sp_addlogin student, student
-- Change database owner to the new login
EXEC sp_changedbowner student
-- Set default database
EXEC sp_defaultdb student, Eastwind

